// fonts
$font-italiana: 'Italiana', sans-serif;
$font-redHat: 'Red Hat Display', sans-serif;

// color
$white: #f7f7f7;
$black: #171716;
$blue: #228be6;
$cyan: #15aabf;
$grey: #868687;
$ligthGrey: #e6e5e3;
$bgColor: #f0efed;
