@import '@mantine/core/styles.css';
@import '@mantine/dropzone/styles.css';
@import 'breakpoints';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Red Hat Display', sans-serif;
}
